.carousel-image {
    max-height: 650px;
    object-fit: cover;
}

.card-img {
    height: 200px;
}

.Welcome {
    background-color: #E9ECEF;
    min-height: 230px;
    border-radius: 10px;
    padding-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.card-zoom {
    transition: transform 0.6s;
    z-index: 0;
}

.card-zoom:hover {
    transform: scale(1.2);
    z-index: 1;
}

.hero-unit {
    background-color: #E9ECEF;
    padding-top: 15px;
    min-height: 210px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

